xml/resources/book.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.sunxin.org/book"
	targetNamespace="http://www.sunxin.org/book" elementFormDefault="qualified">

	<xs:element name="book" type="bookType" />
	<xs:complexType name="bookType">
		<xs:sequence>
			<xs:element name="title" type="xs:string" />
			<xs:element name="author" type="xs:string" />
		</xs:sequence>
	</xs:complexType>
	
</xs:schema>