xml/resources/book2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" 
   elementFormDefault="qualified" 
   targetNamespace="http://www.sunxin.org/book" >
   
  <xs:element name="book">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="title"/>
        <xs:element type="xs:string" name="author"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
</xs:schema>